<nav class="col-md-8">
          <ul>
            <li class="active"><a routerLink="/daystable/2019" href="#" >Serie A </a></li>
            <li class="active"><a routerLink="/daystable/2002" href="#" >Bundesliga DEU</a></li>
            <li class="active"><a routerLink="/daystable/2013" href="#" >Série A BR </a></li>
            <li class="active"><a routerLink="/daystable/2021" href="#" >Premier league ENG</a></li>
            <li class="active"><a routerLink="/daystable/2014" href="#" >Primeira Division ESP</a></li>
            <li class="active"><a routerLink="/daystable/2017" href="#" >Primeira Liga PT </a></li>
            <li class="active"><a routerLink="/daystable/2015" href="#" >Ligue 1 FR </a></li>
        </ul>         
</nav>
