<!DOCTYPE html>
<html>
<body>

    <div class="row">
  <app-header></app-header>
   </div>
  
   <div class="row">
  <app-nav></app-nav>
  </div>

  
<main>

  <div class="container">
    <div class="row">

      <div class="col-md-12 col-sm-12" >
        <router-outlet></router-outlet>
      </div>


    </div>
  </div>
  
  <!--<app-daystable>
  </app-daystable>

  <app-matchtable>
  </app-matchtable>

  <app-teamtable>
  </app-teamtable>-->

</main>

<footer>
<div class="row">


<app-footer>
</app-footer>


</div>

</footer>

</body>
</html>


  
