.main_canvas {
  background-attachment: fixed;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
  margin-left: 25px;
  border: 2px solid black;
  align-content: center;
}
